global
  quiet

defaults
  mode http
  maxconn 5000

  timeout connect 5s
  timeout client  20s
  timeout server  20s

frontend public
  bind *:8080
  default_backend apps

backend apps
  server web2_nginx1_1 web2_nginx1_1:80 check
  server web2_nginx2_1 web2_nginx2_1:80 check
